target/
/.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/sqldialects.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/libraries/
.idea/sonarlint/
*.iws
*.iml
*.ipr
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Log files ###
/log/

### Preferences files ###
/user_preferences.properties
/src/main/resources/config.properties

### Internal DB ###
fcg.db
fcg_test.db
